# sentence-transformers==5.1.2
# langchain

# pypdf
# python-dotenv
# pinecone[grpc]
# langchain-pinecone
# langchain_community
# langchain_openai
# langchain_experimental

# -e .
# Core RAG dependencies
langchain==1.0.7
langchain-community==0.4.1
langchain-core==1.0.6
langchain-openai==1.0.3
langchain-pinecone==0.0.1
langchain-text-splitters==1.0.0

# Vector store & embeddings
pinecone-client==3.2.2
sentence-transformers==5.1.2

# LLM
openai==2.8.1

# Utilities
python-dotenv==1.2.1
requests==2.32.5

# UI
streamlit>=1.30.0

# Optional (already installed)
# beautifulsoup4==4.14.2
# langdetect==1.0.9
